.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}




.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}


.text-center {
    text-align: center;
}



.color-blue {
    color: blue;
}

footer {
    position: fixed;
    bottom: 0;

}

