body {
    font-family: 'Roboto', sans-serif;
    background-color: #DDFFE7;
}


header {
    position: sticky;
    top: 0;
    background-color: #98D7C2;
    padding: 0 10px;
}

nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 600;
}

nav>ul>li {
    padding: 5px 10px;
    margin: 0px 10px;
}

a {
    text-decoration: none;
    color: black
}

main {
    margin: 20px 40px;
}

.name {
    text-align: center;
    margin: 0;
    font-size: 3rem;
}

.quote::before {
    content: "\201C";
    font-size: 32px;
}

.quote::after {
    content: "\201D";
    font-size: 32px;
}
.quote{
    font-weight: 600;
    font-size:1.2rem;
}



.email {
    color: brown;
}

.info-header {
    font-size: 2.5rem;
    font-family: monospace;
}





section {

    padding: 5px 10px;
    margin-bottom: 60px;
    background-image: linear-gradient(#37BEB0,#A4E5E0);
    background-size: cover;
    font-size: 1.5rem;

}

.display-img{
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    margin-right: 20px;
}


footer {
    text-align: center;
    background-color: #98D7C2;
    padding: 0px 10px;
}

.logo {
    width: 30px;
    height: 30px;
}
.social-links{
    padding-top: 7px;
}

.table{
    width: 50%;
    font-size: 1.2rem;
    border: white 1px solid;
    text-align: center;
    height: 30vh;
    margin: 0 auto;
}

.theader{
    background-color: #0C6170;
    color: white;
    font-weight: 600;
}
tr{
    background: linear-gradient(to right, #005c97, #363795);
}

